<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head'); %>
    <title>Chatroom</title>
</head>
<body>
    <%- include('templates/header'); %>
    <main class="container">
        <div class="fadeInDown" id="content">
            <div id="citizen">
                <div id="nickname">Hello <span id="fullname"><%= data.fullname %></span></div>
                <div class="logout"><a id="logout" href="/logout">Log out</a></div>
            </div>
            <div id="messages">
                <textarea id="sendMessage" rows="5" placeholder="Type your message here" required></textarea>
                <div class="post-container"><input type="submit" value="Send Message" id="sendButton"></div>
            </div>
        </div>
    </main>
</body>
</html>