<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('templates/header') %>
    <main>
        <div>
           <div>
            <img src="images/login.png">
           </div>
           <form method="POST" action="">
                <input type="email" name="email" required placeholder="Enter your email here." autocomplete="off">
                <input type="password" name="password" required placeholder="Enter your password here">
                <input type="submit" name="submit">
           </form>
           
           <div>
                <a href="/register">New Account? Sign Up.</a>
           </div>
        </div>
    </main>
    <%- include('templates/footer')%>
</body>
</html>